//COLORS
$accent-color: #FFBD58;
$primary-background-color: #EC5B4B;
$text-color: black;
$secondary-background-color: white;

//FONTS
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Josefin Slab', serif;
