//COLORS
$accent-color: #5DE0E6;
$primary-background-color: #A6A6A6;
$text-color: black;
$secondary-background-color: white;

//FONTS
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Josefin Slab', serif;
