@import 'variables';
@import 'mixins';

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-background-color;
  text-align: center;
  font-family: $primary-font;
}

header {
  margin-top: 5em;
}

h1 {
  color: $text-color;
  letter-spacing: .3em;
  font-size: 4em;
}

h2 {
  color: $secondary-background-color;
  font-family: $secondary-font;
}

#login-container {
  margin-top: 7em;
  background-image: url(../images/background.png);
  background-repeat: repeat;
  background-size: contain;
  margin-bottom: 20em;
  height: 25em;
}

#guest-button,
#manager-button {
  color: $secondary-background-color;
  background-color: $text-color;
  border: none;
  padding: 2em;
  width: 20em;
  font-size: 1em;
  letter-spacing: .3em;
  margin: 10em 2em;
}

.login-background {
  background-color: $accent-color;
  width: 40%;
  height: 30em;
  position: absolute;
  margin: -3em 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  padding-top: 3em;
  margin-bottom: .5em;
}

.error {
  margin-bottom: -2em;
  font-style: italic;
}

input {
  color: $text-color;
  background-color: $secondary-background-color;
  border: none;
  width: 100%;
  font-size: 1em;
  padding: .75em;
  font-family: $primary-font;
}

.login-inputs {
  width: 50%;
  text-align: left;
}

button {
  color: $secondary-background-color;
  background-color: $text-color;
  border: none;
  padding: .75em;
  width: 50%;
  font-size: 1em;
  letter-spacing: .3em;
  margin-top: 3em;
}

#cancel-login-button {
  margin-top: 1em;
  background-color: $primary-background-color;
}

.hide {
  display: none;
}
