@import 'variables';
@import 'mixins';

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-background-color;
  text-align: center;
  font-family: $primary-font;
}

header {
  margin-top: 8vw;
}

h1 {
  color: $text-color;
  letter-spacing: 10px;
  font-size: 7vw;
}

h2 {
  color: $secondary-background-color;
  font-family: $secondary-font;
}

.background-graphic {
  margin-top: 10vw;
  background-image: url(../images/background.png);
  background-repeat: repeat;
  background-size: contain;
  margin-bottom: 20vw;
}

#guest-button,
#manager-button {
  color: $secondary-background-color;
  background-color: $text-color;
  border: none;
  padding: 4vw;
  width: 20em;
  font-size: 1em;
  letter-spacing: .3em;
  margin: 10em 2em;
}

.login-background {
  background-color: $accent-color;
  width: 50%;
  margin: auto;
}

p {
  padding-top: 3em;
  margin-bottom: .5em;
}

input {
  color: $text-color;
  background-color: $secondary-background-color;
  border: none;
  width: 70%;
  font-size: 1em;
  padding: .75em;
  font-family: $primary-font;
}

button {
  color: $secondary-background-color;
  background-color: $text-color;
  border: none;
  padding: .75em;
  width: 70%;
  font-size: 1em;
  letter-spacing: .3em;
  margin: 2em;
}
