@import 'variables';
@import 'mixins';

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-background-color;
  text-align: center;
  font-family: $primary-font;
}

header {
  margin-top: 5em;
}

h1 {
  color: $text-color;
  letter-spacing: .3em;
  font-size: 4em;
}

h2 {
  color: $secondary-background-color;
  font-family: $secondary-font;
}

h3 {
  letter-spacing: .3em;
  font-size: 1.8em;
}

h4 {
  font-family: $secondary-font;
  font-weight: 300;
}

h5 {
  font-size: 1em;
  letter-spacing: .2em;
  margin: .2em;
}

h6 {
  font-family: $secondary-font;
  font-style: italic;
  font-size: 3em;
  color: $secondary-background-color;
}

p {
  padding-top: 3em;
  margin-bottom: .5em;
}

input {
  color: $text-color;
  background-color: $secondary-background-color;
  border: none;
  width: 100%;
  font-size: 1em;
  padding: .75em;
  font-family: $primary-font;
  &:hover {
    @include add-hover-state(text);
  }
}

button {
  color: $secondary-background-color;
  background-color: $text-color;
  border: none;
  padding: .75em;
  width: 50%;
  font-size: 1em;
  letter-spacing: .3em;
  margin-top: 3em;
  &:hover {
    @include add-hover-state(pointer);
  }
}

#login-container {
  margin-top: 7em;
  background-image: url(../images/background.png);
  background-repeat: repeat;
  background-size: contain;
  margin-bottom: 20em;
  height: 25em;
}

#guest-button,
#manager-button {
  color: $secondary-background-color;
  background-color: $text-color;
  border: none;
  padding: 2em;
  width: 20em;
  font-size: 1em;
  letter-spacing: .3em;
  margin: 10em 2em;
}

.login-background {
  background-color: $accent-color;
  width: 40%;
  height: 30em;
  position: absolute;
  margin: -3em 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  margin-bottom: -2em;
  font-style: italic;
}

.login-inputs {
  width: 50%;
  text-align: left;
}

#cancel-login-button {
  margin-top: 1em;
  background-color: $primary-background-color;
}


.dashboard-header {
  background-color: $accent-color;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/background2.png);
  background-size: 5em;
  background-repeat: no-repeat;
}

.logout-button {
  margin: 1em;
  width: 12em;
}

.title-graphic {
  margin-left: 2em;
}

main {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.small-column {
  border: 1em solid $accent-color;
  padding: 1em;
  margin: 2em;
  padding-bottom: 3em;
  .info-block {
    margin-bottom: 5em;
  }
  p {
    padding-top: .2em;
    font-size: 1em;
  }
}

.large-column {
  border: 1em solid $text-color;
  padding: 1em;
  margin: 2em;
  width: 50%;
}

.white-line {
  border: .2em solid $secondary-background-color;
  margin: .5em 0 1em 0;
}

.align-left {
  text-align: left;
  width: 40%;
}

#align-left-full {
  width: 100%;
  input {
    width: 49%;
  }
  button {
    width: 49%;
  }
}

.inline {
  display: flex;
  justify-content: space-between;
}

#customer-input
#start-date {
  width: 49%;
}

#find-customer-bookings-button,
#find-available-rooms-button {
  width: 40%;
  margin-top: 0;
  background-color: $accent-color;
}

#customer-bookings,
#available-rooms {
  border: 1em solid white;
  height: 30em;
  margin: 1em 0;
  overflow: scroll;
}

#guest-booking-info {
  border: 1em solid white;
  height: 25em;
  margin: 1em 0 2em 0;
  overflow: scroll;
  padding: .5em;
}

.section-footer-button {
  width: 49%;
  margin-top: 0;
}

#reward-remainder {
  color: $secondary-background-color;
  font-family: $secondary-font;
  font-style: italic;
  font-size: 1.2em;
}

.show-filter-options-button {
  margin-right: .5em;
  margin-top: 0;
}

.complete-booking-button {
  margin-top: 0;
}

.individual-rooms {
  padding: .5em;
}

#guest-success-page {
  position: absolute;
  margin-top: 4%;
  margin-left: 5%;
  background-color: $accent-color;
  padding: 2em;
  button {
    margin: 1em;
    width: 90%;
  }
  .logout-button {
    background-color: $primary-background-color;
  }
  p {
    padding-top: .5em;
  }
}

.hoverable {
  &:hover {
    @include add-hover-state(pointer);
    background-color: $secondary-background-color;
  }
}

.clicked {
  @include add-hover-state(pointer);
  background-color: $secondary-background-color;
  border: 1em solid $accent-color;
}


#guest-filter-page {
  position: absolute;
  margin-top: 5%;
  margin-left: 7%;
  background-color: $accent-color;
  padding: 2em;
  width: 30%;
  button {
    margin: 1em;
    width: 90%;
  }
  h5 {
    font-size: 1.5em;
    margin-bottom: .5em;
  }
}

select {
  background-color: $secondary-background-color;
  font-size: 1em;
}

.hide {
  display: none;
}
